.section {
    background-color: white;
}

.section__header {
    display: flex;
    padding: 25px;
    border-bottom: 1px grey solid;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px) {
    .section__header {
        flex-wrap: wrap;
        flex-direction: column;
    }
}