.tasks__button {
    border: none;
    width: 35px;
    padding: 5px;
    color: white;
    flex-shrink: 0;
    cursor: pointer;
}

.tasks__button--done {
    background-color: hsl(120, 100%, 25%);
    transition: .2s;
}

.tasks__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__button--delete {
    background-color: hsl(0, 100%, 50%);
    transition: .2s;
}

.tasks__button--delete:hover {
    background-color: hsl(0, 100%, 55%);
}

.fa-check--none {
    opacity: 0;
}

.tasks__text {
    margin: auto 15px;
    max-width: 90%;
    font-size: 18px;
    flex-grow: 1;
    line-height: 1.4;
    text-align: justify;
    word-wrap: break-word;
}

.tasks__text--done {
    text-decoration: line-through;
    color: red;
}

.tasks__items {
    padding: 20px;
    list-style: none;
}

.tasks__item {
    padding: 12px;
    border-bottom: 1px grey solid;
    display: flex;
    align-items: center;
}

.tasks__item--hidden {
    display: none;
}