html {
  box-sizing: border-box;
  background-color: rgb(236, 236, 236);
  font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.main {
  max-width: 900px;
  margin: 36px auto;
}
